<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-key="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you wish to delete this document?</p>
      </div>
      <div class="modal-footer">
        <button data-key="delete" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
        <button data-key="close" type="button" class="btn" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
